{% extends "shared/layout.jinja" %}

{% import "shared/forms.jinja" as forms %}

{% block title %}
Create Account
{% endblock %}

{% block body %}
<div id="create-account-body" class="container-fluid body">
  <div class="card">
    <h5 class="card-header">Create Account</h5>
    <div class="card-body">
      {% for accent, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-sm alert-{{ accent|e }}" role="alert">
        {{ message|e }}
      </div>
      {% endfor %}
      <form method="POST" novalidate>
        {{ form.csrf_token }}

        {{ forms.create_field(form.username, placeholder=true) }}
        {{ forms.create_field(form.display_name, placeholder=true) }}

        {{ forms.create_submit_btn(form.submit, classes="float-end") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
