{% extends "shared/layout.jinja" %}

{% import "shared/macros.jinja" as macros %}
{% import "shared/forms.jinja" as forms %}

{% set self_public_profile_link_id = "self-public-profile-link" %}
{% set copy_profile_link_btn_id = "copy-public-profile-link" %}
{% set username_profile_cls = "username-profile" %}

{% set friends_tabs_id = "friends-tabs" %}
{% set my_friends_tab_id = "my-friends-tab" %}
{% set outgoing_friend_requests_tab_id = "outgoing-requests-tab" %}
{% set incoming_friend_requests_tab_id = "incoming-requests-tab" %}

{% set danger_zone_id = "danger-zone" %}
{% set danger_zone_modal_id = danger_zone_id ~ "-modal" %}

{% block title %}
My Profile
{% endblock %}

{% block style %}
<style>
  .{{ username_profile_cls }} {
    border-radius: var(--bs-border-radius) !important;
    padding: 0.25rem 0.5rem;
    background-color: var(--bs-secondary-bg-subtle) !important;
    text-decoration: none;
  }

  #{{ danger_zone_id }} > * {
    display: block;
  }
  #{{ danger_zone_id }} > :not(:last-child) {
    margin-bottom: 0.5rem;
  }
</style>
{% endblock %}

{% block body %}
<div
  id="{{ danger_zone_modal_id }}"
  class="modal fade"
  aria-labelledby="{{ danger_zone_modal_id }}-title"
  aria-hidden="true"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="{{ danger_zone_modal_id }}-title" class="modal-title"></h5>
        {{ macros.bs_close_btn(dismiss="modal") }}
      </div>
      <div id="{{ danger_zone_modal_id }}-body" class="modal-body"></div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          aria-label="Cancel"
        >
          Cancel
        </button>
        <button
          type="button"
          id="{{ danger_zone_modal_id }}-btn"
          class="btn btn-danger"
        >
          Yes, Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div id="profile-body" class="container-fluid body">
  <div class="card">
    <h5 class="card-header">Profile</h5>
    <div class="card-body">
      {% for accent, message in get_flashed_messages(with_categories=true) %}
      <div
        class="alert alert-sm alert-{{ accent|e }} alert-dismissible fade show"
        role="alert"
      >
        {{ message|e }}
        {% if accent == "success" %}
        {{ macros.bs_close_btn(dismiss="alert") }}
        {% endif %}
      </div>
      {% endfor %}
      <div class="mb-2">
        <span class="fw-bold">Email: </span> {{ logged_in_user.email|e }}
      </div>
      <form method="POST" novalidate>
        {{ form.csrf_token }}

        {{ forms.create_field(form.username, placeholder=true) }}
        {{ forms.create_field(form.display_name, placeholder=true) }}

        {{ forms.create_submit_btn(form.submit, classes="float-end") }}
      </form>
    </div>
  </div>
  <div class="card mt-4">
    <h5 class="card-header">Friends</h5>
    <div class="card-body">
      <div>
        My public profile:
        <a
          id="{{ self_public_profile_link_id }}"
          href="{{ url_for('public_profile', username=logged_in_user.username) }}"
          class="{{ username_profile_cls }}"
        >
          @{{ logged_in_user.username|e }}
        </a>
        <button
          type="button"
          id="{{ copy_profile_link_btn_id }}"
          class="btn btn-sm btn-success ms-2"
        >
          <span id="{{ copy_profile_link_btn_id }}-text">
            <i class="bi bi-clipboard"></i>
            Copy Profile Link
          </span>
          <span id="{{ copy_profile_link_btn_id }}-copied" class="d-none">
            <i class="bi bi-check-lg"></i>
            Copied!
          </span>
        </button>
      </div>
      <div class="mt-2">
        To add a new friend, go to their public profile and click "Add
        Friend"!
      </div>
      <ul id="{{ friends_tabs_id }}" class="nav nav-tabs mt-3" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            type="button"
            id="{{ my_friends_tab_id }}"
            class="nav-link active"
            data-bs-toggle="tab"
            data-bs-target="#{{ my_friends_tab_id }}-pane"
            aria-controls="{{ my_friends_tab_id }}-pane"
            aria-selected="true"
            role="tab"
          >
            My Friends
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            type="button"
            id="{{ outgoing_friend_requests_tab_id }}"
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#{{ outgoing_friend_requests_tab_id }}-pane"
            aria-controls="{{ outgoing_friend_requests_tab_id }}-pane"
            aria-selected="false"
            role="tab"
          >
            Outgoing Friend Requests
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            type="button"
            id="{{ incoming_friend_requests_tab_id }}"
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#{{ incoming_friend_requests_tab_id }}-pane"
            aria-controls="{{ incoming_friend_requests_tab_id }}-pane"
            aria-selected="false"
            role="tab"
          >
            Incoming Friend Requests
          </button>
        </li>
      </ul>
      <div
        id="{{ friends_tabs_id }}-content"
        {# Add border around the bottom to make it look nicer #}
        class="tab-content border border-top-0 rounded-bottom p-3"
      >
        {% for tab_id in [
             my_friends_tab_id,
             outgoing_friend_requests_tab_id,
             incoming_friend_requests_tab_id
           ]
         %}
        <div
          id="{{ tab_id }}-pane"
          class="tab-pane fade {{ 'show active' if loop.first }}"
          aria-labelledby="{{ tab_id }}"
          role="tabpanel"
          tabindex="0"
        >
          <div id="{{ tab_id }}-list" class="row row-cols-auto g-2">
            <div class="placeholder-glow">
              {% for _ in range(5) %}
              <span class="placeholder rounded" style="width: 100px;"></span>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="card mt-4 border-danger border-2">
    <h5 class="card-header text-bg-danger">Danger Zone</h5>
    <div id="{{ danger_zone_id }}" class="card-body">
      <div class="alert alert-sm alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>
        WARNING: This is a danger zone. Many operations here are irreversible.
        Proceed with caution.
      </div>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#{{ danger_zone_modal_id }}"
        target-url="{{ url_for('delete_all_friends') }}"
      >
        Remove all my friends
        <span class="{{ danger_zone_modal_id }}-title d-none visually-hidden">
          Remove all friends?
        </span>
        <span class="{{ danger_zone_modal_id }}-body d-none visually-hidden">
          Are you sure you want to remove <strong>all your friends</strong>? You
          will still be able to see all previous notes they've sent to you, but
          you will need to request to be friends again to send or receive any
          more.
        </span>
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#{{ danger_zone_modal_id }}"
        target-url="{{ url_for('delete_all_drafts') }}"
      >
        Delete all my drafts
        <span class="{{ danger_zone_modal_id }}-title d-none visually-hidden">
          Delete all drafts?
        </span>
        <span class="{{ danger_zone_modal_id }}-body d-none visually-hidden">
          Are you sure you want to delete <strong>all your drafts</strong>? They
          cannot be recovered.
        </span>
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#{{ danger_zone_modal_id }}"
        target-url="{{ url_for('unsend_all_notes') }}"
      >
        Unsend all my sent notes
        <span class="{{ danger_zone_modal_id }}-title d-none visually-hidden">
          Unsend all notes?
        </span>
        <span class="{{ danger_zone_modal_id }}-body d-none visually-hidden">
          Are you sure you want to unsend <strong>all your sent notes</strong>?
          The recipients will no longer have access to them. This action cannot
          be undone.
        </span>
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#{{ danger_zone_modal_id }}"
        target-url="{{ url_for('delete_all_received_notes') }}"
      >
        Delete all my received notes
        <span class="{{ danger_zone_modal_id }}-title d-none visually-hidden">
          Delete all received notes?
        </span>
        <span class="{{ danger_zone_modal_id }}-body d-none visually-hidden">
          Are you sure you want to delete
          <strong>all your received notes</strong>? You will not see them in
          your notes list anymore. (They will not be deleted for the sender.)
        </span>
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function populateUsernameLists(tabId, noUsernamesText) {
    return (response, status, jqXHR) => {
      const $list = $(`#${tabId}-list`);
      $list.html("");
      const usernames = response.users.map(({ username }) => username);
      $(`#${tabId}`).append(
        $("<span>", { class: "badge text-bg-secondary" }).text(usernames.length)
      );
      if (usernames.length === 0) {
        $list.append(
          $("<div>", { class: "col" }).append(
            $("<span>", { class: "fst-italic" }).text(noUsernamesText)
          )
        );
        return;
      }
      for (const username of usernames) {
        $list.append(
          $("<div>", { class: "col" }).append(
            $("<a>", {
              href: `{{ url_for('public_profile', username='') }}${username}`,
              class: "{{ username_profile_cls }}",
            }).text(`@${username}`)
          )
        );
      }
    };
  }

  $(() => {
    $("#{{ copy_profile_link_btn_id }}").on("click", function (event) {
      const profilePath = $("#{{ self_public_profile_link_id }}").attr("href");
      const fullUrl = window.location.origin + profilePath;
      copyTextToClipboard(fullUrl);

      const $text = $("#{{ copy_profile_link_btn_id }}-text");
      const $copied = $("#{{ copy_profile_link_btn_id }}-copied");
      $text.addClass("d-none");
      $copied.removeClass("d-none");
      // After 3 seconds, revert back to the regular text
      setTimeout(() => {
        $copied.addClass("d-none");
        $text.removeClass("d-none");
      }, 3000);
    });

    // When the page loads, fetch username lists
    ajaxRequest("GET", "{{ url_for('list_user_friends') }}", {
      success: populateUsernameLists(
        "{{ my_friends_tab_id }}",
        "No friends yet :("
      ),
    });
    ajaxRequest("GET", "{{ url_for('list_user_outgoing_friend_requests') }}", {
      success: populateUsernameLists(
        "{{ outgoing_friend_requests_tab_id }}",
        "No outgoing friend requests -- go make some friends!"
      ),
    });
    ajaxRequest("GET", "{{ url_for('list_user_incoming_friend_requests') }}", {
      success: populateUsernameLists(
        "{{ incoming_friend_requests_tab_id }}",
        "No incoming friend requests :("
      ),
    });

    // Set up danger zone
    const $modalBtn = $("#{{ danger_zone_modal_id }}-btn");
    $("#{{ danger_zone_modal_id }}").on("show.bs.modal", function (event) {
      const $trigger = $(event.relatedTarget);
      $("#{{ danger_zone_modal_id }}-title").text(
        $trigger.find(".{{ danger_zone_modal_id }}-title").text()
      );
      $("#{{ danger_zone_modal_id }}-body").html(
        $trigger.find(".{{ danger_zone_modal_id }}-body").html()
      );
      $modalBtn.attr("target-url", $trigger.attr("target-url"));
    });
    $modalBtn.on("click", function (event) {
      const targetUrl = $modalBtn.attr("target-url");
      if (!targetUrl) {
        console.warning("Could not get target url:", $modalBtn);
        // Refresh page to hopefully fix the invalid state
        window.location.reload();
        return;
      }
      ajaxRequest("DELETE", targetUrl, {
        success: (response, status, jqXHR) => {
          // Refresh on success (not possible to fail)
          window.location.reload();
        },
      });
    });

    dismissSuccessAlerts();
  });
</script>
{% endblock %}
