{% extends "shared/layout.jinja" %}

{% block title %}
{{ APP_NAME|e }}
{% endblock %}

{% block body %}
<div id="index-body" class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h2>{{ APP_NAME|e }}</h2>
        </div>
        {% if version != "" %}
        <div class="col-auto">
          <a href="{{ url_for('view_changelog') }}">
            <em class="text-muted">{{ version|e }}</em>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col">
          <div>
            Welcome to Personal Notes, a web app to receive and show notes that
            other people send you.
          </div>
          {% if not user_is_logged_in %}
          <div class="mt-2">
            Please log in to get started.
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
