{% macro _nav_item_link(label, endpoint) %}
{% set href = url_for(endpoint) %}
{% set is_current_page = request.path == href %}
<li class="nav-item">
  <a
    class="nav-link {{ 'active' if is_current_page }}"
    {% if is_current_page %} aria-current="page" {% endif %}
    href="{{ href }}"
  >
    {{ label }}
  </a>
</li>
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      {{ APP_NAME|e }}
    </a>

    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-text"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-text" class="collapse navbar-collapse">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
        {# Left side #}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if not user_is_logged_in %}
        <li class="nav-item">
          <a class="btn btn-success" href="{{ url_for('log_in') }}">Log in</a>
        </li>
        {% else %}
        <li class="navbar-text me-3">
          <strong>{{ user.username|e }}</strong>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="{{ url_for('log_out') }}">Log out</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
